on:
  push:
    branches:
      - [main]
  
  jobs:
    deploy:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Node.js
          uses: actions/setup-node@v3
          with:
            node-version: '18'
          
        - name: Install dependencies
          run: npm install --production

        - name: Zip app
          run: zip -r app.zip .

        - name: Deploy to Elastic Beanstalk
          env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          run: 
            pip install awsebcli
            eb init youtube-clone-express-js --region eu-north-1 --platform "Node.js"
            eb use youtube-clone-express-js-env
            eb deploy